<!DOCTYPE html>
<html lang="ko">
<head>
	<%- include('head.html') %>
	<link rel="stylesheet" href="guide.css">
	<script src="guide.js"></script>
    <title>K H A L A - Guide</title>
</head>
<body>
	<%- include('header') %>
	<div class="khala-guide-container">
		<div class="khala-guide-wrap">
			<div class="khala-guide-contents">
				<div class="guide-contents-wrap">
					<article class="guide-article">
						<h1 class="guide-article-title"> <b>K H A L A</b> 시작하기</h1>
						<h2 id="sub01" class="guide-article-subtitle">
							이 문서는 KHALA의 개요를 설명합니다
						</h2>
						<p class="guide-article-text">
							<b>칼라</b>는 다목적 번역 채팅웹입니다.<br>
							<b>칼라</b>는 <b>간편함</b>과 <b>휘발성</b>을 가장 큰 특징으로 가진 <b>채팅 웹앱</b>입니다.
						</p>
						<h2 id="sub02" class="guide-article-subtitle">
							간단한 절차로 시작하기
						</h2>
						
						<p class="guide-article-text">
							기본적으로 칼라 채팅 기능만 이용한다면, 회원가입이나 다른 복잡한 절차는 일체 필요없습니다. <b>닉네임</b>과 사용할 <b>언어</b>, 본인을 대표할 <b>아바타</b>만 선택하시면 칼라의 가장 주된 기능인 <b>'실시간 번역 채팅'</b>이 가능합니다. 칼라의 메인페이지에서 SETTING 버튼을 눌러 <a href="/setting.jsp">Setting 페이지</a>로 이동한 뒤, (만약 칼라를 사용한 기록이 없거나 사용전에 쿠키를 제거했다면, 방을 만들거나 입장할 때 Setting 페이지로 이동할겁니다) 사용자의 정보설정이 가능합니다.
							<br>
						</p>
						<div class="imgbox">
							<img src="/image/guide/0.jpg" alt="khala setting page image">
						</div>
						<p class="guide-article-text">
							설정이 모두 끝난후에는 저장 버튼을 눌러 당신의 정보를 저장할 수 있습니다. 혹은, join to chat-room을 눌러 곧바로 채팅방을 개설하거나 입장하실 수 있습니다.
						</p>
					</article>
					<hr>
					<!-- 채팅방 내부 기능 -->
					<article class="guide-article">
						<h1 class="guide-article-title">채팅방 내부 기능 살펴보기</h1>
						<p class="guide-article-text">
							<b>개설된</b> 채팅방 내부에서는 일반적인 채팅앱(또는 웹)과 비슷하게 구성된 UI를 확인할 수 있습니다. 
						</p>
						<h2 id="sub03" class="guide-article-subtitle">
							메인 페이지로 돌아가기
						</h2>
						<div class="imgbox">
							<img src="/image/guide/1.png" alt="khala guide image - setting page">
						</div>
						<p class="guide-article-text">
							의도치 않게 방에 들어왔으며, 메인 페이지에 아직 볼일이 남았다면 왼쪽 상단의 로고를 클릭하여 <a href="/">메인(index) 페이지</a>로 돌아갈 수 있습니다. 
						</p>
						<h2 id="sub04" class="guide-article-subtitle">
							참여자 명단 확인하기
						</h2>
						<div class="imgbox">
							<img src="/image/guide/2.png" alt="khala guide image - user in romm">
						</div>
						<p class="guide-article-text">
							채팅방의 왼쪽에 현재 채팅방 참여자들의 정보가 표시됩니다. 각 참여자의 정보는 방에 들어오기 전, Setting 페이지에서 입력(선택)한 닉네임, 아바타입니다. 
						</p>
						<div class="guide-article-reference">
							방에 입장했다면 이미 눈치채셨겠지만, <br>
							<b>칼라</b>는 참여자가 자신의 닉네임이나 (이미 제시된)아바타를 결정함에 어떠한 제약도 두지 않습니다. <br>
							누군가 닉네임과 아바타로 자신의 정체를 속이려 함에 늘 주의하세요!
						</div>
						<h2 id="sub05" class="guide-article-subtitle">
							원문 확인하기
						</h2>
						<span class="imgbox">
							<img src="/image/guide/6.png" alt="khala guide image - text change to translation text 1" style="max-width: 50%;">
							<img src="/image/guide/7.png" alt="khala guide image - text change to translation text 2" style="max-width: 50%;">
						</span>
						<p class="guide-article-text">
							칼라는 자신 외의 다른 유저가 보낸 메세지의 원문을 확인할 수 있도록 기능을 제공합니다. <br>
							확인할 메세지 상자 위에 마우스 커서를 올리면 메세지 상자 오른쪽으로 전환 버튼이 표시됩니다. 전환버튼을 누르면 해당 메세지가 번역되기 전의 원문으로 전환됩니다.
						</p>
						<h2 id="sub06" class="guide-article-subtitle">
							번역문 확인하기
						</h2>
						<span class="imgbox">
							<img src="/image/guide/3.png" alt="khala guide image - text change to translation text 1" style="max-width: 50%;">
							<img src="/image/guide/4.png" alt="khala guide image - text change to translation text 2" style="max-width: 50%;">
						</span>
						<p class="guide-article-text">
							자신이 보낸 메세지가 어떻게 번역되었는지 확인하는 기능도 제공합니다. <br> 
							마찬가지로 자신의 메세지 상자 위에 마우스 커서를 올리면 메세지 상자 왼쪽으로 (자신가 같은 언어를 제외한)참여자들의 언어 목록이 표시되는데, 이를 클릭하면 해당 언어에 맞게 메세지가 변경됩니다. <br>
							클릭한 자리에는 원래 메세지 박스에 표시되고 있던 메세지의 언어가 대체되어 들어가기 때문에, 이를 클릭함으로써 원래 메세지로 되돌릴 수 있습니다. 
						</p>
						<h2 id="sub07" class="guide-article-subtitle">
							유저 초대
						</h2>
						<p class="guide-article-text">
							칼라를 사용하면서 자신이 접속해 있는 방에 다른 유저를 초대하는 방법은 오직 한 가지입니다. 현재 접속중인 URL을 공유하는 것이 유일한 방법이며, 이를 편하게 지원하기 위해 채팅방 UI 오른쪽 상단에는 현재 URL을 즉시 복사할 수 있는 COPY 버튼이 마련되어 있습니다.
						</p>
						<div class="imgbox">
							<img src="/image/guide/5.png" alt="khala guide image - user in romm">
						</div>
						<div class="guide-article-reference">
							칼라의 방은 호스트, 방장의 개념이 없습니다. 해당 방의 URL을 알고 있다면 이를 공유함으로써 누구든 자유롭게 초대할 수 있습니다.
						</div>
					</article>
					<hr>
					<article class="guide-article">
						<h1 class="guide-article-title">게시판 이용하기</h1>
						<h2 id="sub08" class="guide-article-subtitle">게시판 개요</h2>
						<p class="guide-article-text">
							<b>칼라</b>는 사용자(또는 무슨 말이라도 하고싶은 사람)를 위한, 어떠한 제약도 없는 자유게시판을 제공합니다. 매우 간단한 절차의 회원가입 절차를 제외하면, 게시판에도 칼라 특유의 간편함이 그대로 드러나 있습니다. 
							<br>
							질문을 하거나, 자신의 고찰을 드러내거나, 어쩌면 논쟁을 펼치는 등, 게시판에는 다양한 용도가 있지만, 칼라의 게시판은 기본적으로 가벼운 잡담이나 소소한 의견을 드러내기에 적합한 형태를 띠고 있습니다.
							<br>
						</p>
						<h2 id="sub09" class="guide-article-subtitle">작성하기</h2>
						<p class="guide-article-text">
							가장 좌측 상단 게시글은 여타 글들과는 조금 다른 모양을 하고 있습니다. 해당 게시글은 칼라 게시판의 '게시글 작성 폼'입니다.
							글 안의 posting 버튼을 눌러 <b>작성 폼</b>을 활성화 할 수 있으며, 로그인 하지 않은 사용자에게는 작성 폼을 활성화를 위한 <b>로그인</b>을 권할 것입니다.
						</p>
						<div class="imgbox">
							<img src="/image/guide/8.png" alt="khala guide image - user in romm">
						</div>
						<div class="guide-article-reference">
							⚠ 주의하세요! <br>
							<b>칼라</b>는 아직 테스트 단계입니다. 가입할 때 주로 쓰는 아이디와 비밀번호를 작성하는 것은 절대로 권장하지 않는 행위입니다. 우리는 <b>칼라</b>에 가입하기 위한 정보에, 단순히 <b>칼라</b>에서만 사용할 계정 정보를 따로 생각해 작성할 것을 권고합니다.
							<br> <br>
							또한 가입에 사용된 정보와 채팅 서비스에 사용되는 정보는 전혀 관계가 없으므로, 이에 대하여 고려할 필요가 전혀 없습니다.
						</div>
						<div class="imgbox">
							<img src="/image/guide/9.png" alt="khala guide image - user in romm">
						</div>
						<p class="guide-article-text">
							로그인 된 상태라면 이후의 절차는 직관적이고 단순합니다. 글 제목과 내용을 작성한 뒤, post 버튼을 눌러 작성한 글을 게시합니다.
						</p>
						<h2 id="sub10" class="guide-article-subtitle">삭제하기</h2>
						<p class="guide-article-text">
							<b>칼라</b>의 게시판에 올라온 글은 반영구적으로 보관되지만, 작성자가 이를 원하지 않는다면 제공되는 삭제 기능을 통해 게시글을 삭제할 수 있습니다. 이렇게 삭제된 글은 노출 여부가 변경되어 더는 게시판에서 확인할 수 없지만 데이터베이스에는 보존되어 있습니다. 그렇기에 삭제 기능은 글을 다른 유저들에게서 감추는 기능에 더 흡사하다고 볼 수 있습니다.
						</p>
					</article>
					<hr>
					<article class="guide-article">
						<h1 class="guide-article-title">주의 사항</h1>
						<h2 id="sub11" class="guide-article-subtitle">채팅 서비스와 쿠키</h2>
						<p class="guide-article-text">
							<b>칼라</b>가 채팅 서비스에 참여자의 정보를 표시하는 방식은 온전히 <b>웹 브라우저 쿠키</b>에 의존하고 있습니다.
							웹 브라우저의 쿠키를 삭제할 경우, 이전에 지정해둔 정보가 함께 삭제되기 때문에, 채팅 서비스를 다시 이용하기 위해서는 setting 과정을 재차 거칠 필요가 생깁니다.
						</p>
						<h2 id="sub12" class="guide-article-subtitle">메세지와 방의 휘발성</h2>
						<p class="guide-article-text">
							<b>칼라</b>의 채팅방에서 오고간 메세지는 서버에서 번역 후 다른 유저에게 전송되는 것을 마지막으로 완전히 삭제됩니다. 이러한 특징이 의미하는 바는 다음과 같습니다.						
						</p>
						<ul class="guide-article-list">
							<li>
								채팅 도중 방을 나갈 경우(브라우저 탭을 닫을 경우) 다시 방에 입장하더라도 이전에 주고받은 메세지의 내용은 확인할 수 없습니다.
							</li>
							<li>
								메세지의 내용이 브라우저에만 기록되기 때문에 비교적 임의로 내용을 조작하는 행위가 자유롭습니다.
							</li>
							<li>
								해당 방에 접속된 브라우저를 제외하면 그 어디에도 채팅 기록이 남지 않습니다. 이것은 지나치게 자유로운 대화를 야기할 수 있습니다.
							</li>
						</ul>
						<p class="guide-article-text">
							<b>칼라</b>의 채팅방은 유저가 모두 퇴장하는 것을 트리거로 잠시 뒤에 제거됩니다. 다른 사용자로부터 전달받은 URL이나 이전에 접속한 적 있는 URL로 접속하였음에도 방을 찾을 수 없다는 메세지를 마주하게 된다면, 해당 이유로 인해 방이 제거되었을 가능성이 가장 큽니다.
						</p>
						<div class="guide-article-reference">
							<b>칼라</b>의 채팅방은 브라우저 탭을 닫을 때, 모든 정보가 휘발된다는 특징을 가졌으며, 채팅방에 유저가 아무도 존재하지 않는다는 뜻은 해당 방은 어떠한 정보도 담고 있지 않음을 의미합니다.
							<br>이러한, 방을 (무자비하게) 제거하는 방식은 오직 서버의 자원을 절약하는 긍정적 효과만을 가집니다.
						</div>
						<h2 id="sub13" class="guide-article-subtitle">번역기 의존도</h2>
						<p class="guide-article-text">
							<b>칼라</b>는 온전히 <b>이미 제작된 번역 API</b>에 의존합니다. 대부분 상용화된 번역기는 때때로 원문 작성자의 의도와 전혀 다른 내용의 번역문을 뱉고는 합니다. (번역기의)몇 가지 실수는 원만한 의사소통에 치명적일 수 있기 때문에 <b>칼라</b>의 채팅방에는 <a class="index-link" href="#sub05">(상대방으로부터 전달된 번역문의)원문, (본인이 보낸 원문의)번역문을 확인하는 기능</a>이 포함되어 있습니다.
						</p>
						<p class="guide-article-text">
							해당 기능의 가장 중요한 용도는 원문 작성자와 번역문 수신자 사이의 오해를 최소화 하는 것입니다. 만약 상대방이 도저히 왜 저러는지 이해가 되지 않는다면 원문, 또는 본인이 이전에 작성한 글의 번역문을 확인하는 것이 큰 도움이 될 수 있습니다.
						</p>
					</article>
				</div>
			</div>
			<div class="khala-guide-index">
				<ul class="guide-index-list">
					<li class="guide-index-item">
						K H A L A 시작하기
						<br>
						<a class="index-link" href="#sub01">이 문서는 KHALA의 개요를 설명합니다</a> <br>
						<a class="index-link" href="#sub02">간단한 절차로 시작하기</a>
					</li>
					<li class="guide-index-item">
						채팅방 내부 기능 살펴보기
						<br>
						<a class="index-link" href="#sub03">메인 페이지로 돌아가기</a> <br>
						<a class="index-link" href="#sub04">참여자 명단 확인하기</a> <br>
						<a class="index-link" href="#sub05">원문 확인하기</a> <br>
						<a class="index-link" href="#sub06">번역문 확인하기</a> <br>
						<a class="index-link" href="#sub07">유저 초대</a>
					</li>
					<li class="guide-index-item">
						게시판 이용하기
						<br>
						<a class="index-link" href="#sub08">게시판 이용하기</a> <br>
						<a class="index-link" href="#sub09">작성하기</a> <br>
						<a class="index-link" href="#sub10">삭제하기</a>
					</li>
					<li class="guide-index-item">
						주의 사항
						<br>
						<a class="index-link" href="#sub11">채팅 서비스와 쿠키</a> <br>
						<a class="index-link" href="#sub12">메세지와 방의 휘발성</a> <br>
						<a class="index-link" href="#sub13">번역기 의존도</a>
					</li>
				</ul>
			</div>
		</div>
	</div>	
</body>
</html>