<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="K H A L A" />
    <meta property="og:image" content="/image/og-image.jpg" />
    
	<link rel="icon" href="/image/khala-logo.png">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="khala.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;400;500;700;900&amp;family=Nanum+Gothic:wght@400;700;800&amp;family=Noto+Sans+KR:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script> <!-- 리액트 -->
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script> <!-- 리액트 DOM -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> <!-- 바벨 -->
</head>