<nav id="khala-header">
    <span id="khala-logo">
        <a href="/">
            <img src="/image/khala-logo.png" alt="">
            <span>khala</span>
        </a>
    </span>
    <ul class="sign-buttons">
        <%
        	if(cookie.user){
        %>
        <li class="greeting">Welcom, <strong><%= cookie.user.name %>!</strong> I always wish your happy~</li>
        <li class="logout">
            <a href="/logoutAction">Logout</a>
        </li>
        <li class="board">
            <a href="/board-list">Board</a>
        </li>
        <%
        	} else {
        %>
        <li class="sign-up">
            <a href="/sign-up">Sign up</a>
        </li>
        <li class="login">
            <a href="/login">Login</a>
        </li>
        <li class="board">
            <a href="/board-list">Board</a>
        </li>
        <%
        } 
        %>
    </ul>
</nav>