<nav id="khala-header">
    <span id="khala-logo">
        <a href="/">
            <img src="/image/khala-logo.png" alt="">
            <span>khala</span>
        </a>
    </span>
    <ul class="sign-buttons">
        <li class="greeting">I glad to meet you!</li>
    </ul>
</nav>