<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('head.html') %>
	<link rel="stylesheet" href="login.css">
    <title>K H A L A - Login</title>
</head>
<body>
	<%- include('header') %>
	<div class="khala-login-container">
		<div class="khala-loginform-wrap" style="padding-top: 20px;">
			<h3 class="khala-login-greeting">Glad you're back!</h3>
			<form id="khala-loginform" class="khala-loginform" method="post">
				<input type="text" name="id" placeholder="ID"/>
				<input type="password" name="password" placeholder="PASSWORD"/>
				<input type="submit" value="LOGIN " />
			</form>
			<a class="khala-login-signup" href="/sign-up">New to KHALA?</a>
		</div>
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="login.js"></script>
</html>