<!DOCTYPE html>
<html>
<head>
	<%- include('head.html') %> 
	<jsp:include page="/head.html"></jsp:include>
	<!-- <link rel="stylesheet" href="room.css"> -->
	<title>K H A L A - Room</title>
</head>
<body>
	<%- include('header') %>
	<div id="khala-room-container" class="khala-container"></div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    socket = io();
    socket.emit('create-room', "test?");
    socket.on('create-room', function(res){
        console.log(res);
    })
</script>
<script>
	// 쿠키정보 미존재시 세팅페이지로 연결
	$(function () {
		console.log(getCookie('khala-config'));
		if (!getCookie('khala-config')) {
			if (getParam('room-no')){
				document.location.href = '/setting?room-no='+getParam('room-no');
			} else {
				document.location.href = '/setting';
			}
		}

		function getCookie(cookieName) {
			var cookieValue = null;
			if (document.cookie) {
				var array = document.cookie.split((escape(cookieName) + '='));
				if (array.length >= 2) {
					var arraySub = array[1].split(';');
					cookieValue = unescape(arraySub[0]);
				}
			}
			return cookieValue;
		}
		function getParam(sname) {
			var params = location.search.substr(location.search.indexOf("?") + 1);
			var sval = "";
			params = params.split("&");
			for (var i = 0; i < params.length; i++) {
				temp = params[i].split("=");
				if ([temp[0]] == sname) { sval = temp[1]; }
			}
			return sval;
		}
	})
</script>
<script src="/room.js" type="text/babel"></script>
</html>