<!DOCTYPE html>
<html lang="ko">
<head>
	<%- include('head.html') %>
	<link rel="stylesheet" href="sign-up.css">
	<title>K H A L A - Sign Up</title>
</head>
<body>
	<%- include('header') %>

	<div class="khala-signup-container confirm">
		<div class="khala-signupform-wrap">
			<form class="khala-signupform" name="member" method="post">
				<h3 class="khala-signup-greeting">
					Please enter the code for authentication
				</h3>
				<input class="khala-signupform-authentication" type="text" name="code" placeholder="CODE FOR AUTHENTICATION">
				<a class="khala-remail" href="/">Authentication mail? I don't know.</a> <br>
				<input class="khala-signupform-confirm" type="submit" value="CONFIRM">
			</form>
		</div>
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="sign-up-result.js"></script>
</html>